.form {
  margin-left: 156px;
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

fieldset {
  display: flex;
  gap: 48px;
  width: 264px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 24px 48px 8px 48px;
  margin: 0px 0px 24px 0px;
}

input[name='delay'] {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 328px;
  height: 40px;
  padding-right: 16px;
  margin-left: 0;
  margin-bottom: 16px;
}

.form-btn {
  width: 360px;
  height: 40px;
}

.label-state {
  display: flex;
  justify-content: center;
}

.input-state {
  margin: 0px 14px 0px 0px;
  padding: 0;
  min-width: 20px;
  min-height: 20px;
}
